// Specific CSS for your home-page
.home-container {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.text-top-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#text-header {
  font-weight: bolder;
}

#text-sub-header {
  letter-spacing: 3px;
}
