.settings-container {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  .profile-pic {
    margin: 3vh 0 0 0 ;
    width: 46vw;
    height: 46vw;
    border-radius: 23vw;
  }
  h2 {
    margin: 3vh 0;
  }
  p {
    margin-top: 5vw;
  }

  .settings-content {
    background-color: #dfdfdf;
  }

  .checked-state.contact-type {
       display: flex;
       width: 100vw;
       margin: 0 auto;
       text-align: center;
       color: #888;
       font-size: 22px;
       justify-content: center;
  }
   .checked-state.contact-type input {
       display: none;
  }
   .checked-state.contact-type a {
       width: 20vw;
       cursor: pointer;
       position: relative;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
  }
   .checked-state.contact-type a .option-circle {
       transition: all 0.3s cubic-bezier(.25,.8,.25,1);
       border: 0px solid #F9F9F9;
       border-radius: 100%;
       background: #c2c2c2;
       width: 15vw;
       height: 15vw;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 10px;
       color: #999;
       font-family: 'Lato', sans-serif;
  }
   .checked-state.contact-type a .option-circle i {
       font-size: 1.5em;
  }

   .checked-state.contact-type a {
       color: #84fab0 !important;
       font-weight:400 !important;
       text-decoration: none;
  }
   .checked-state.contact-type a .option-circle {
       color: #fff;
       // box-shadow: 0 9px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.15);
       transition: all 0.3s cubic-bezier(.25,.8,.25,1);
       &.male.on {
        background-image: linear-gradient(120deg, #88c3ff 0%, #c7dff7 100%);
       }
       &.female.on {
        background-image: linear-gradient(120deg, #ff79d4 0%, #f7c7e7 100%);
       }
  }
}

