<div id="barModal" class="modal fade bar-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="bar-modal-content">
      <div id="bar-modal-insert" class="bar-modal-body">
        <h2 class="modal-title"></h2>
        <img class='bar-modal-image' src=''>
        <a href='#' class='checkout btn-alert blue'>Check out the bar</a>
        <a type="button" href="#" class="btn-alert red" data-dismiss="modal">Keep swiping</a>
      </div>
    </div>
  </div>
</div>
