<div id="matchModal" class="modal fade match-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div id="match-modal-insert" class="modal-body">
        <h2 class="modal-title"></h2>
        <img class='match-modal-image' src=''>
        <button href='#' class='btn-alert blue'>Check out the bar</button>
        <button type="button" class="btn-alert red" data-dismiss="modal">Keep swiping</button>
      </div>
    </div>
  </div>
</div>
