<div class="bio-edit-container">
  <%= form_for(@user) do |f| %>
    <div class="form-group">
      <%= f.label :bio %>
      <%= f.text_field :bio, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>

