<div id="userModal" class="modal fade user-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div id="match-modal-insert" class="modal-body">
        <h2 class="modal-title"></h2>
        <% user.photos.reverse.each do |image| %>
          <%= image_tag image.photo.url, class:'user-modal-image', alt: "alttext" %>
        <% end %>
        <a type="button" href="#" class="btn-close stick" data-dismiss="modal"><i class="fas fa-times"></i></a>
      </div>
    </div>
  </div>
</div>
