<div class="signin-container hidden-md hidden-lg">
  <h1>SKÅL</h1>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
</div>

<div class="hidden-xs hidden-sm">
  <h1>THIS IS DESKTOP</h1>
</div>
