<div class="signin-container hidden-md hidden-lg">
  <div class="home-container">
    <h1>SKÅL</h1>
    <%= link_to user_facebook_omniauth_authorize_path, class:'fb-signup' do %>
      Sign in with Facebook <i class="fab fa-facebook-square"></i>
    <% end %>
  </div>
</div>

<div class="hidden-xs hidden-sm text-top-center">
    <h1 id="text-header">SKÅL.</h1>
    <h2 id="text-sub-header">First round's on us</h2>
  </div>
</div>
