<div class="signin-container hidden-md hidden-lg">
  <div class="home-container">
    <h1>SKÅL</h1>
    <%= link_to user_facebook_omniauth_authorize_path, class:'fb-signup' do %>
      Sign in with Facebook <i class="fab fa-facebook-square"></i>
    <% end %>
  </div>
</div>

<div class="hidden-xs hidden-sm">
  <h1>THIS IS DESKTOP</h1>
</div>
