<div id="couponModal" class="modal fade coupon-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div id="coupon-modal-insert" class="modal-body">
        <h3 class="modal-title">1 free drink at <br><%= bar.name %> </h3>
        <%= image_tag "qrcode.png", class:'qrcode', alt: "alttext" %>
        <a type="button" href="#" class="btn-close stick" data-dismiss="modal"><i class="fas fa-times"></i></a>
      </div>
    </div>
  </div>
</div>
