.fb-signup {
  background-color: #fefefe;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: #356888;
  &:hover {
    text-decoration: none;
    color: #356888;
  }
  &:active {
    text-decoration: none;
    color: #356888;
    background-color: #fefefe;
  }
}

.btn-logout {
  background-color: #e07f78;
  padding: 3vw 15vw;
  border-radius: 8px;
  text-decoration: none;
  color: $white;
  position: absolute;
  bottom: 8vh;
  &:hover {
    text-decoration: none;
    color: $white;
  }
  &:active {
    text-decoration: none;
    color: $white;
    background-color: #ce6058;
  }
}

.btn-alert {
  width: 70vw;
  height: 10vh;
  border-radius: 10vh;
  text-decoration: none;
  color: $white;
  text-align: center;
  margin-top: 3vh;
  font-weight: bolder;
  display: flex;
  align-items:center;
  justify-content:center;
  // padding-top: 20px;
  text-decoration: none;
  &.red {
    background-color: #e07f78;
  };
  &.blue {
    background-color: #559fce;
  };
};


.btn-close {
  width: 5vh;
  height: 5vh;
  border-radius: 2.5vh;
  color: #7e7e7e;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  display: flex;
  font-size: 2.5vh;
  &.stick{
    position: fixed;
    top: 2vh;
    right: 2vh;
  }
}

.btn-respond {
  width: 45vw;
  height: 10vh;
  margin-top: 2vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;
  &.accept{
    background-color: #6ad48c;
    color: $white;
    border-radius: 8px 0 0 8px;
  }
  &.decline {
    background-color: #c78282;
    color: $white;
    border-radius: 0 8px 8px 0;
  }
  &.active {
    width:75vw;
  }
  &.inactive {
    width:15vw;
  }
}

.pressed-down {
  background-color: green;
  color: $white !important;
}

