.fb-signup {
  background-color: #fefefe;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: #356888;
  &:hover {
    text-decoration: none;
    color: #356888;
  }
  &:active {
    text-decoration: none;
    color: #356888;
    background-color: #fefefe;
  }
}

.btn-logout {
  background-color: #e07f78;
  padding: 3vw 15vw;
  border-radius: 8px;
  text-decoration: none;
  color: $white;
  position: absolute;
  bottom: 8vh;
  &:hover {
    text-decoration: none;
    color: $white;
  }
  &:active {
    text-decoration: none;
    color: $white;
    background-color: #ce6058;
  }
}
