//default font ( sans-serif )
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//latest version of FA. it uses `fa, far, fab, fas, fal` for different styling, also redid ~100 icon names.
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

$alizarin:    #e74c3c;

.new-matches-container {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  margin-left: 22px;
}

.site-wrap {
  height: 100%;
  width: 100%;

  .messages,.new-matches {
    .header {
      color: $alizarin;
      font-weight: 800;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .new-matches {
    .matches {
      display: flex;
      margin-bottom: 1rem;

      .match {
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
          margin-top: 0.25rem;
          font-size: 1.5rem;
          font-weight: 800;
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  .messages {

    .tinder-message {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .content-wrap {
        margin-left: 1rem;
        .name {
          font-weight: 600;
        }
        .snippet {
          font-size: 1.5rem;
          display: flex;
        }
      }
    }
  }
}

#color-meetup {
  color: red;
  margin-right: 30px;
  font-size: 40%;
  padding-left: 10px;
}

.message {
  display: flex;
  align-items: center;
  //padding: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.message-body {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 13px;
}

.message-body p {
  margin: 3px 0;
}

.message-body h6 {
  font-weight: bold;
  margin: 3px 0;
}

.message-status {
  margin-right: 30px;
  font-size: 70%;
}

.used {
  color: lightblue;
}
.expired {
  color: red;
}
.yet-agreed {
  color: lightgray;
}
.pending {
  color: #04A366;
}


img.avatar-large {
  height: 60px;
  border-radius: 50%;
  width: 60px;
  background-size: cover;
  background-position: center center;
}

a.link-decoration {
  color: black;
  text-decoration: none;
}

