.match-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .match-user {
    width: 100vw;
    height: 40vh;
  }
  .match-bar {
    position:relative;
    width: 90vw;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 2px 2px 11px 0px rgba(207,192,207,1);

    .clickable{
      cursor: pointer;
    }

    .bar-content {
      background-color: rgba(255,255,255,0.2);
      position: absolute;
      bottom: 0px;
      color: $white;
      width: 90vw;
      height: 8vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
        padding-left: 3vw;
        font-size: 2vh;
      }
      .bar-icons{
        i {
          font-size: 4vh;
          padding-right: 5vw;
          text-decoration: none;
          color: $white !important;
        }
      }
    .bar-icons a {
      text-decoration: none;
    }
    }
  }

  .match-ask-time {
    padding: 3vh 0 0 0;
    border-radius: 10px;
    .calender-header {
      border-radius: 10px 10px 0 0;
      background-color: #964741;
      color: #fdfdfd;
      width: 90vw;
      padding: 1vh;
    }
    .calender-date {
      border-radius: 0 0 10px 10px;
      border: 0.5px solid #dedee2;
      border-top: none;
      width: 90vw;
      text-align: center;
      background-color: #fafafc;
      padding: 3vh 0;
    }
    p {
      margin: 0;
      text-align: center;
    }
    h3 {
      margin: 2vh 0;
    }
  }

  .match-response {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .match-both-accept {
    display:none;
    text-align: center;
    p {
      margin: 0;
      padding: 1vh;
    }
  }

  .match-opposite-responded {
    display:none;
    text-align: center;
    p {
      padding-top: 5vh;
    }
    .avatar {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }
  }

  .match-accept-waiting {
    display:none;
    text-align: center;
    p {
      padding: 5vh;
    }
    .avatar {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }
  }

  .coupon {
    background-color: #ffc635;
    color: $white;
    font-size: 4vh;
    width: 90vw;
    height: 13vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .match-liquid {
    width: 20vh;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left: -2px;
    z-index: 0;
    &.green {
      background-color: green;
    }
    &.red {
      background-color: green;
    }
  }
}
